In [4]:
import numpy as np 
import pandas as pd

In [73]:
df1 = pd.read_csv('data/ml_debit.csv')
df2 = pd.read_csv('data/ml_credit.csv', nrows=7000)

account        object
step           object
sum_amount     object
mean_amount    object
min_amount     object
max_amount     object
num_debits     object
num_credits    object
target         object
dtype: object

In [103]:
df = pd.concat([df1, df2], ignore_index=True)
df.shape

(13229, 9)

In [104]:
df = df.sample(frac=1).reset_index(drop=True)
df["target"] = df["target"].map({"debit":1,"credit":0})

In [105]:
columns_to_convert = ['sum_amount', 'mean_amount', 'min_amount', 'max_amount', 'num_debits', 'num_credits']
df[columns_to_convert] = df[columns_to_convert].apply(pd.to_numeric, errors='coerce')
df.dtypes

account         object
step            object
sum_amount     float64
mean_amount    float64
min_amount     float64
max_amount     float64
num_debits     float64
num_credits    float64
target         float64
dtype: object

In [106]:
df = df.dropna()
df.isnull().sum()

account        0
step           0
sum_amount     0
mean_amount    0
min_amount     0
max_amount     0
num_debits     0
num_credits    0
target         0
dtype: int64

In [110]:
df.describe()

,sum_amount,mean_amount,min_amount,max_amount,num_debits,num_credits,target
count,1.188000e+04,1.188000e+04,1.188000e+04,1.188000e+04,11880.000000,11880.000000,11880.000000
mean,1.096729e+08,2.249041e+07,3.839886e+06,6.690132e+07,3.650253,0.919697,0.428704
std,2.165601e+09,4.346825e+08,1.293754e+08,1.335662e+09,1.372152,1.046418,0.494912
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000
25%,1.639600e+05,3.801500e+04,5.000000e+03,7.799725e+04,3.000000,0.000000,0.000000
50%,5.000000e+05,1.120224e+05,1.640600e+04,2.000000e+05,4.000000,1.000000,0.000000
75%,1.708778e+06,3.927890e+05,1.000000e+05,1.000000e+06,5.000000,1.000000,1.000000
max,1.760013e+11,3.520027e+10,1.327980e+10,8.800000e+10,5.000000,5.000000,1.000000

In [111]:
df["target"].value_counts()

target
0.0    6787
1.0    5093
Name: count, dtype: int64

In [113]:
df["step"] = df["step"].apply(pd.to_datetime)

In [116]:
df.corr()

,account,step,sum_amount,mean_amount,min_amount,max_amount,num_debits,num_credits,target
account,1.000000,-0.189302,0.015922,0.017266,0.023737,0.010077,-0.095689,0.038991,0.712715
step,-0.189302,1.000000,-0.142054,-0.142488,-0.072280,-0.128394,0.012370,-0.013296,-0.191912
sum_amount,0.015922,-0.142054,1.000000,0.997648,0.323232,0.923302,-0.002833,0.022579,0.014106
mean_amount,0.017266,-0.142488,0.997648,1.000000,0.341745,0.921939,-0.005618,0.022522,0.014839
min_amount,0.023737,-0.072280,0.323232,0.341745,1.000000,0.126325,-0.008710,0.006547,0.007513
max_amount,0.010077,-0.128394,0.923302,0.921939,0.126325,1.000000,0.001231,0.016517,0.009752
num_debits,-0.095689,0.012370,-0.002833,-0.005618,-0.008710,0.001231,1.000000,-0.648358,-0.152937
num_credits,0.038991,-0.013296,0.022579,0.022522,0.006547,0.016517,-0.648358,1.000000,0.084848
target,0.712715,-0.191912,0.014106,0.014839,0.007513,0.009752,-0.152937,0.084848,1.000000